
body {
    margin: 10px;
    font-family: 'Tourney', cursive, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color:grey;
    text-align: center;
  
    
}
main{
    display: block;
}
.page--content--section{
  display: inline-block;  
}
.link--mailcontact{
 display: block;
    color: green;
}
.social--media--icon{
   color: red;

}
.contenedor--form{
    align-self: center;
}
.contact--form{
    margin: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    align-self:auto;
    background-color: rgba(196, 218, 163, 0.534);
    padding: 10px;
    text-align: center;
    max-width: 320px;
}
.contact--form--elements{
    
margin-left: 20px;
    margin-bottom: 20px;
   margin-top: 20px;
   margin-right: 20px;
}
input{
    border-style: groove;
    box-sizing: border-box;
    width: 100%;
    height: 20px;
    display: block;
    margin-bottom: 5px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
    border-color: black;
}
.form--message{
    width: 100%;
    height: 60px;
  border-style: groove;
  border-width: 2px;
  border-color: black;
  box-sizing: border-box;
}
label{
position: absolute;
top: -10000em;
width: 1px;
height: 1px;
margin: -1px;
padding: 0px;
overflow: hidden;
clip: rect(0,0,0,0);
border: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
h2 {
    display: block;
    font-size: 16px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
@media all and (min-width: 600px) {
   
.all{
    text-align: left;
    align-content: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}
main{
    display: flex;
    padding: 10px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    align-self:center;
    max-width: 612px;
    min-width: 50%;
}
.page--content--body{
    
    display: flex;
    text-align: left;
    margin: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 10px;
    margin-left: auto;
    align-self:center;
    max-width: 612px;
    min-width: 50%;
    height: 100%;
}

.contenedor--form{
    align-self: center;
    margin-right: 10px;
    padding: 10px;
    width: 100%;
    height: auto;
    
}
.contact--form{
    padding: 20px;
    margin: 10px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    align-self:auto;
    background-color: rgba(196, 218, 163, 0.534);
    text-align: center;
    max-width: 612px;}

}