.color-purple {
    color: #d75893;
  }
  
  .bg-color-purple {
    background-color: #d75893;
  }
  
  .color-olive {
    color: olive;
  }
  
  .bg-color-olive {
    background-color: olive;
  }
  
  .color-grey {
    color: #d1d1d1;
  }
  
  .bg-color-grey {
    background-color: #d1d1d1;
  }
  
  .color-dark-grey {
    color: #383838;
  }
  
  .bg-color-dark-grey {
    background-color: #383838;
  }
  
  .color-green {
    color: #A1DC68;
  }
  
  .bg-color-green {
    background-color: #A1DC68;
  }
  
  .color-red {
    color: #C50A00;
  }
  
  .bg-color-red {
    background-color: #C50A00;
  }
  
  .color-main {
    color: #A1DC68;
  }
  
  .bg-color-main {
    background-color: #A1DC68;
  }
  .color-white {
    color: #ffffff;
  }
  
  .bg-color-white {
    background-color: #ffffff;
  }
  $purple: #d75893;
$olive : olive;
$grey: #d1d1d1;
$grey-dark: darken($grey, 60);
$green: #A1DC68;
$red: #C50A00;
$main-color: $green;
$white: #ffffff;

$brand-colors : (
        'purple': $purple,
        'olive': $olive,
        'grey': $grey,
        'dark-grey': $grey-dark,
        'green': $green,
        'red': $red,
        'main': $main-color,
        'white': $white,
);
@each $name, $value in $brand-colors {
        .color-#{$name} {
            color: $value;
        }
        .bg-color-#{$name} {
            background-color: $value;
        }
}